section.header(ng-controller="bannerCrtl")
	.inner-header.container
		.row
			a(href="index.html")
				figure
					img(src="./public/image/logo.png", alt="")
		.inner-row
			.row
				a(href="http://affinitaslegal.com/", target="_blank")
					figure
						img(src="./public/image/logo-affinitas.png", alt="")
				.inner-redes
					.row
						a(href="http://mafirma.pe/contactenos/")
							figure
								img(src="./public/image/social-contacto.png", alt="")
					.row
						a(href="https://twitter.com/MAfirma_legal", target="_blank")
							figure
								img(src="./public/image/social-twitter.png", alt="")
					.row
						a(href="https://www.linkedin.com/company/miranda-&-amado-abogados", target="_blank")
							figure
								img(src="./public/image/social-linkedin.png", alt="")
					.row
						a(href="http://mafirma.pe/en/") ENGLISH
	.inner-menu
		.menu
			.row
				form
					input(type="text",placeholder="BUSCAR")
			.row
				ul
					li
						a.blanco(href="http://mafirma.pe/nuestra-firma/") BUSCAR FIRMA
					li
						a.blanco(href="http://mafirma.pe/abogados/") ABOGADOS
					li
						a.blanco(href="http://mafirma.pe/areas-de-practica/") ÁREAS DE PRÁCTICA
					li
						a.blanco(href="http://mafirma.pe/trabaja-en-miranda-y-amado/") TRABAJA EN M&A
					li
						a.blanco(href="http://mafirma.pe/pro-bono/") PRO BONO
					li
						a.blanco(href="http://mafirma.pe/alianzas/") ALIANZAS
					li
						a.blanco(href="http://mafirma.pe/distinciones/") DISTINCIONES
	div.flicker-example(data-block-text="false")
		ul
			li(data-background="./public/image/banner.jpg")
				.inner-banner
					.row
						h1 BIBLIOTECA 
							span VIRTUAL
					.row.innerdescripcion
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ut rem quia impedit, eius reprehenderit odit adipisci quam in est, aspernatur assumenda inventore sunt repellat, sint quasi magnam soluta molestias!