/*!*** llamamos a nuestras librerias nib ****/
@import 'nib'
@import 'nib/gradients'
@import 'nib/overflow'
@import 'nib/normalize'
/*!*** Css de la fuente ****/
@import '../../public/css/font.css'
/*!*** llamamos a nuestros demas estilos stylus****/
@import  '../master/general.styl'
@import  '../master/formulario.styl'
@import  '../header/header.styl'
@import  '../inicio/inicio.styl'
@import  '../energia/inicio.styl'
@import  '../laboral/inicio.styl'
@import  '../mineria/inicio.styl'
@import  '../proyectos/inicio.styl'
@import  '../footer/footer.styl'
//@import  '../servicio/detalle.styl'
//@import  '../afiliate/afiliate.styl'
//@import  '../espiritu/espiritu-mi.styl'
//@import  '../asibar/asibar.styl'
//@import  '../cotiza/cotiza.styl'
//@import  '../ubicanos/ubicanos.styl'
/*!**** Los demas estilos *********/

