footer.footer
	.inner-info
		p
			| COPYRIGHT 2015 | ALL RIGHTS RESERVED
	.inner-social
		ul
			li
				a(href="javascript:void(0)")
					span.icon-facebook
			li
				a(href="javascript:void(0)")
					span.icon-twitter
			li
				a(href="javascript:void(0)")
					span.icon-google
			li
				a(href="javascript:void(0)")
					span.icon-linkedin2
			li
				a(href="javascript:void(0)")
					span.icon-youtube
	

